<div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Twój koszyk</h1>
                <hr>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
            	<h2>Podsumowanie</h2>
            	Cena: {{getPrice() | currency : "" : 0}} zł

            	<form name="orderForm" ng-submit="submitForm(orderForm.$valid)" novalidate>
            		<p>Imię i nazwisko:<br />
	            		<input type="text" name="username" ng-model="order.username" ng-model-options="{ updateOn: 'blur' }" required><br />
	            		<span style="color:red" ng-show="orderForm.username.$dirty && orderForm.username.$invalid">
	            			<span ng-show="orderForm.username.$error.required">Pole wymagane.</span>
	            		</span>
	            	</p>

            		<p>Telefon:<br />
	            		<input type="text" name="phone" ng-model="order.phone" ng-minlength="6" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/" required><br />
	            		<span style="color:red" ng-show="orderForm.phone.$dirty && orderForm.phone.$invalid">
		            		<span ng-show="orderForm.phone.$error.required">Pole wymagane.</span>
		            		<span ng-show="orderForm.phone.$error.pattern">Tylko cyfry.</span>
		            		<span ng-show="orderForm.phone.$error.minlength">Minimum 6 cyfr.</span>
	            		</span>
            		</p>

            		<p ng-show="orderForm.$valid && basket.pizzas.length">
            			<input type="submit" value="Order" ng-disabled="orderForm.phone.$dirty && orderForm.phone.$invalid || orderForm.username.$dirty && orderForm.username.$invalid">
            		</p>
            	</form>

                <div ng-show="data.error">{{data.error}}</div>
                <div ng-show="confirmedOrders.length">
                    <h3>Przyjęte zamówienia</h3>
                    <ol>
                        <li ng-repeat="order in confirmedOrders">
                            <ul>
                                <li>
                                    {{order.orderInfo.username}}, {{order.orderInfo.phone}}
                                </li>    
                                <li>
                                    Data zamówienia: {{order.ordered | date : "yyyy-MM-dd HH:mm:ss"}}
                                </li>
                                <li>
                                    Szacowany czas dostarczenia: {{order.estimated | date : "yyyy-MM-dd HH:mm:ss"}}
                                </li>    
                                <li>
                                    Zamowienie: 
                                    <ol>
                                        <li ng-repeat="position in order.order.order">
                                            
                                            {{pizzas[ position.pizza.id - 1].name}}
                                        </li>
                                    </ol>
                                </li>    
                            </ul>
                        </li>
                    </ol>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
            	<div ng-repeat="pizza in basket.pizzas track by $index " >
            	    <h4>{{pizza.name}}</h4>
            	    <h5>Cena: {{pizza.price}}</h5>
            	    <p ng-click="removePizzaFromCart(pizza)" class="btn-add">
            	        <i class="fa fa-minus"></i>
            	        <a href="javascript:;"> usuń z koszyka</a>
            	    </p>
            	</div>
            </div>
            
            
        </div>
        <!-- /.row -->

    </div>