<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Kontakt
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Menu</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>
    </div>
</div>